body {
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #000;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFD700; /* Dourado */
    font-weight: bold;
    font-size: 18px;
}

main {
    padding: 40px;
}

.contato {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contato h1 {
    font-size: 36px;
    color: #000;
}

.contato ul {
    list-style: none;
    margin-top: 20px;
}

.contato li {
    font-size: 18px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #FFD700;
}
